body {
  background-image: url("/bg-design.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.profile {
  margin-top: 40px;
  display: flex;
  gap: 80px;
}

.info {
  max-width: 300px;
  text-align: center;
}

.pfp {
  width: 100%;
}

.name {
  margin-top: -2px;
  font-size: 12px;
}

.checked {
  color: orange;
}

.comment-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.review {
  display: flex;
  background-color: #78b8f0;

  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Padding inside the div */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted look */
  display: flex;
  align-items: flex-start;
  max-width: 600px;
  margin: 20px auto;
}

.content {
  margin-left: auto;
}

.contentTwo {
  font-size: 1em;
  color: #333;
  border-radius: 10px; /* Rounded corners for the textarea */
  border: 1px solid #ccc; /* Border color */
  padding: 10px; /* Padding inside the textarea */
  flex: 1; /* Take up the remaining space */
  resize: vertical; /* Allow vertical resize only */
  min-height: 30px;
  box-sizing: border-box;
  margin-left: 10px;
}

.community,
.book {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.image {
  width: 100px;
  height: 100px;
}

.rating {
  color: grey;
  font-size: 18px;
}

.details {
  margin-left: 15px;
}

.continued {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buy {
  all: unset;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #fff;
  background-color: #78b8f0;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  width: 60%;
  font-size: 18px;
  align-self: center;
}
