body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("/bg-design.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.chat-container {
  width: 600px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  max-width: 100%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
}

.sender-message {
  background-color: #78b8f0;
  color: #fff;
  align-self: flex-start;
}

.receiver-message {
  background-color: #7892f0;
  color: #fff;
  align-self: flex-end;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-left {
  text-align: center;
  margin-right: 20px;
  margin-bottom: -10px;
}

.user-right {
  text-align: center;
  margin-left: 20px;
  margin-bottom: -10px;
}

.name {
  font-size: 12px;
  margin-top: -4px;
}

.message input {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.message button {
  padding: 8px;
  margin: 10px;
  background-color: #78f0b2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
