body {
  background-image: url("https://scontent.xx.fbcdn.net/v/t1.15752-9/430294792_432557232768809_3837954999366355086_n.png?stp=dst-png_p403x403&_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=o4XQyUUQA-wAX_KJY7z&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdT5ANZ_j0d3evDdXGsXOu3yrF2mV3RcDTV2pDH8waUYVQ&oe=6627A61E");
  background-repeat: no-repeat;
  background-size: cover;
}
.communities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.community {
  position: relative;
}

img {
  height: 250px;
  max-width: 600px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  display: block;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.community:hover img {
  opacity: 0.3;
}

.community:hover .middle {
  opacity: 1;
}

.text {
  background-color: #7892f0;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  width: 100px;
}

.text:hover {
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

.left {
  display: flex;
  flex-direction: row;
}

.pfp {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.search h1 {
  padding-left: 300px;
}

.search button {
  height: 54px;
  background-color: #78b8f0;
  border: 1px solid white;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  border-radius: 30px;
  width: 100px;
}

.left button {
  margin: 15px;
}

.search .cat {
  background-color: #78f0b2;
}

.search button:hover {
  cursor: pointer;
}

.pfp:hover {
  cursor: pointer;
}

.community p {
  font-family: inherit;
  text-align: center;
}
