.books {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.book {
  position: relative;
  background-color: #7892f0;
  border-radius: 5%;
}

img {
  height: 250px;
  max-width: 600px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  display: block;
  border-radius: 10%;
  border: 10px solid #7892f0;
}

header h1 {
  color: #fff;
  font-size: 52px;
}

header {
  width: 100%;
  height: 229px;
  background-image: url("https://t3.ftcdn.net/jpg/06/76/98/70/360_F_676987000_E2MmZqzNy39Ec9PSRW0k7IyOfGtj0IXX.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.book:hover img {
  opacity: 1;
}

.book:hover .middle {
  opacity: 1;
}

.text {
  background-color: #7892f0;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  width: 100px;
}

.text:hover {
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.pfp {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.search button {
  height: 54px;
  background-color: #78b8f0;
  border: 1px solid white;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  border-radius: 30px;
  width: 100px;
}

nav {
  background-color: #7892f0;

  width: 100%;
}

.navigation-container {
  display: flex;
  justify-content: center;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left button {
  margin: 15px;
  height: 54px;
  background-color: #78b8f0;
  border: 1px solid white;
  color: #fff;

  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  border-radius: 30px;
  width: 100px;
}

.search .cat {
  background-color: #78f0b2;
}

.search button:hover {
  cursor: pointer;
}

.pfp:hover {
  cursor: pointer;
}

p {
  text-align: center;
  padding-left: 10px;
  color: white;
  width: 200px;
}

.right input[type="search"] {
  height: 54px;
  background-color: white;
  border: 1px solid #78b8f0;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  border-radius: 30px;
  width: 300px;
}

.right input[type="search"]::placeholder {
  font-size: 16px;
  padding-left: 15px;
}

.right {
  padding-top: 15px;
}

.filter {
  position: relative;
}

.hover-hide {
  display: none;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border: 2px solid #78b8f0;
  border-radius: 50px;
}

.filter:hover + .hover-hide {
  display: block;
}
