body {
  background-image: url("/bg-design.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-left: 130px;
}

.Not-found h1 {
  color: #7892f0;
  font-size: 64px;
}

.Not-found a {
  font-size: 52px;

  color: #7892f0;
  text-decoration-color: #7892f0;
}

nav {
  background-color: #7892f0;
  width: 100%;
}

.navigation-container {
  display: flex;
  justify-content: center;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.left ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.pfp {
  padding: 10px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.pfp:hover {
  cursor: pointer;
}

.left li {
  border-right: 1px solid #fff;
}

.left li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.left li a:hover {
  background-color: #49578a;
}

.search button:hover {
  cursor: pointer;
}

.pfp:hover {
  cursor: pointer;
}
